@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<link rel="stylesheet"
      href="~/css/estudiante-dashboard.css"
      asp-append-version="true" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<div class="dashboard">

    <!--=========================================
                SIDEBAR
    ==========================================-->

    <aside class="sidebar-menu">

        <div class="menu-top">

            <a href="#" class="menu-item active">
                <i class="fa-solid fa-house"></i>
                <span>Inicio</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-file-pen"></i>
                <span>Tareas</span>
                <small class="badge">4</small>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-book-open-reader"></i>
                <span>Evaluaciones</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-gamepad"></i>
                <span>Juegos</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-circle-play"></i>
                <span>Videos</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-robot"></i>
                <span>Chat IA</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-trophy"></i>
                <span>Retos</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-calendar-days"></i>
                <span>Calendario</span>
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-user"></i>
                <span>Mi Perfil</span>
            </a>

        </div>

        <div class="menu-bottom">

            <img src="~/VISTA_ESTUDIANTE/tigredos.png"
                 asp-append-version="true" />

        </div>

    </aside>


    <!--=========================================
                CONTENIDO PRINCIPAL
    ==========================================-->

    <div class="main-container">

        <!-- HEADER -->

        <header class="topbar">

            <div class="logo-area">

                <img src="~/VISTA_ESTUDIANTE/Logo.png"
                     class="logo"
                     asp-append-version="true" />

                <div>
                    <h2>Edu<span>Click</span></h2>
                    <p>Explora, aprende y crece</p>
                </div>

            </div>


            <div class="welcome">

                <h1>¡Hola, Sofía! 👋</h1>

                <p>
                    Cada día es una nueva oportunidad para aprender
                    algo <span>increíble.</span> ✨
                </p>

            </div>


            <div class="header-right">

                <div class="notification">

                    <i class="fa-solid fa-bell"></i>

                    <span>3</span>

                </div>


                <div class="profile">

                    <img src="~/VISTA_ESTUDIANTE/avatar.png"
                         asp-append-version="true" />

                    <div>
                        <strong>Sofía</strong>
                        <span>Estudiante</span>
                    </div>

                </div>

            </div>

        </header>
                <!--=========================================
                        HERO
        ==========================================-->

        <section class="hero-grid">

            <!--==============================
                        BANNER
            ==============================-->

            <div class="banner">

                <img src="~/VISTA_ESTUDIANTE/banner.png"
                     class="banner-img"
                     asp-append-version="true" />

                <div class="banner-content">

                    <h1>

                        Aprender es tu

                        <span>mejor aventura</span>

                    </h1>

                    <div class="linea"></div>

                    <p>

                        Explora, juega y descubre todo lo que puedes lograr.
                        Aprende mientras te diviertes con actividades,
                        retos y juegos educativos.

                    </p>

                    <a href="#" class="btn-banner">

                        Comenzar ahora 🚀

                    </a>

                </div>

            </div>


            <!--==============================
                    MI PROGRESO
            ==============================-->

            <aside class="progress-card">

                <h2>

                    <i class="fa-solid fa-chart-column"></i>

                    Mi progreso

                </h2>


                <div class="progress-circle">

                    <div class="circle">

                        <span>72%</span>

                    </div>

                    <h3>

                        ¡Vas excelente!

                    </h3>

                </div>


                <div class="stats">

                    <div>

                        ⭐

                        <h4>1200</h4>

                        <span>Puntos</span>

                    </div>


                    <div>

                        🔥

                        <h4>18</h4>

                        <span>Días de racha</span>

                    </div>


                    <div>

                        🏅

                        <h4>7</h4>

                        <span>Nivel</span>

                    </div>

                </div>

            </aside>

        </section>


        <!--=========================================
                    EXPLORA POR TEMA
        ==========================================-->

        <section class="subjects">

            <div class="section-title">

                <h2>

                    <i class="fa-solid fa-book-open"></i>

                    Explora por tema

                </h2>


                <a href="#">

                    Ver todas

                    <i class="fa-solid fa-arrow-right"></i>

                </a>

            </div>


            <div class="subjects-grid">


                <!-- MATEMATICAS -->

                <a href="@Url.Action("Matematicas","Materias")"
                   class="subject-link">

                    <div class="subject-card blue">

                        <img src="~/VISTA_ESTUDIANTE/MATE.png"
                             asp-append-version="true" />

                        <h3>Matemáticas</h3>

                        <p>
                            Números, lógica y problemas divertidos.
                        </p>

                        <strong>75%</strong>

                        <div class="progress">
                            <div style="width:75%;"></div>
                        </div>

                    </div>

                </a>


                <!-- CIENCIAS -->

                <a href="@Url.Action("Ciencias","Materias")"
                   class="subject-link">

                    <div class="subject-card green">

                        <img src="~/VISTA_ESTUDIANTE/ciencias.png"
                             asp-append-version="true" />

                        <h3>Ciencias</h3>

                        <p>
                            Descubre el mundo y realiza experimentos.
                        </p>

                        <strong>80%</strong>

                        <div class="progress">
                            <div style="width:80%;"></div>
                        </div>

                    </div>

                </a>


                <!-- LENGUA -->

                <a href="@Url.Action("Lengua","Materias")"
                   class="subject-link">

                    <div class="subject-card yellow">

                        <img src="~/VISTA_ESTUDIANTE/lengua.png"
                             asp-append-version="true" />

                        <h3>Lengua</h3>

                        <p>
                            Lee, escribe y mejora tu comprensión.
                        </p>

                        <strong>65%</strong>

                        <div class="progress">
                            <div style="width:65%;"></div>
                        </div>

                    </div>

                </a>
                <!-- INGLES -->

                <a href="@Url.Action("Ingles","Materias")"
                   class="subject-link">

                    <div class="subject-card pink">

                        <img src="~/VISTA_ESTUDIANTE/ingles.png"
                             asp-append-version="true" />

                        <h3>Inglés</h3>

                        <p>
                            Aprende nuevas palabras jugando.
                        </p>

                        <strong>70%</strong>

                        <div class="progress">
                            <div style="width:70%;"></div>
                        </div>

                    </div>

                </a>


                <!-- SOCIALES -->

                <a href="@Url.Action("Sociales","Materias")"
                   class="subject-link">

                    <div class="subject-card purple">

                        <img src="~/VISTA_ESTUDIANTE/socialess.png"
                             asp-append-version="true" />

                        <h3>Sociales</h3>

                        <p>
                            Descubre la historia y culturas del mundo.
                        </p>

                        <strong>60%</strong>

                        <div class="progress">
                            <div style="width:60%;"></div>
                        </div>

                    </div>

                </a>


                <!-- TECNOLOGIA -->

                <a href="@Url.Action("Tecnologia","Materias")"
                   class="subject-link">

                    <div class="subject-card cyan">

                        <img src="~/VISTA_ESTUDIANTE/tecnologia.png"
                             asp-append-version="true" />

                        <h3>Tecnología</h3>

                        <p>
                            Crea, explora y aprende innovación.
                        </p>

                        <strong>85%</strong>

                        <div class="progress">
                            <div style="width:85%;"></div>
                        </div>

                    </div>

                </a>

            </div>

        </section>


        <!--=========================================
                    CONTENIDO INFERIOR
        ==========================================-->

        <section class="bottom-grid">


            <!--=====================================
                    ACTIVIDAD RECIENTE
            ======================================-->

            <div class="activity card">

                <div class="section-title">

                    <h2>

                        <i class="fa-solid fa-clock-rotate-left"></i>

                        Actividad reciente

                    </h2>

                    <a href="#">

                        Ver todas

                    </a>

                </div>


                <ul>

                    <li>

                        <i class="fa-solid fa-square-check"></i>

                        <div>

                            <strong>

                                Completaste quiz de fracciones

                            </strong>

                            <span>

                                Matemáticas

                            </span>

                        </div>

                        <div class="points-add">

                            <small>

                                Hace 30 min

                            </small>

                            <span>

                                +20 pts

                            </span>

                        </div>

                    </li>


                    <li>

                        <i class="fa-solid fa-circle-play"></i>

                        <div>

                            <strong>

                                Viste video del ciclo del agua

                            </strong>

                            <span>

                                Ciencias

                            </span>

                        </div>

                        <div class="points-add">

                            <small>

                                Hace 2 horas

                            </small>

                            <span>

                                +15 pts

                            </span>

                        </div>

                    </li>


                    <li>

                        <i class="fa-solid fa-comments"></i>

                        <div>

                            <strong>

                                Participaste en foro ambiental

                            </strong>

                            <span>

                                Ciencias Naturales

                            </span>

                        </div>

                        <div class="points-add">

                            <small>

                                Ayer

                            </small>

                            <span>

                                +10 pts

                            </span>

                        </div>

                    </li>


                    <li>

                        <i class="fa-solid fa-gamepad"></i>

                        <div>

                            <strong>

                                Ganaste aventura histórica

                            </strong>

                            <span>

                                Sociales

                            </span>

                        </div>

                        <div class="points-add">

                            <small>

                                Ayer

                            </small>

                            <span>

                                +25 pts

                            </span>

                        </div>

                    </li>

                </ul>

            </div>



            <!--=====================================
                        SUGERENCIAS
            ======================================-->

            <div class="suggestions card">

                <div class="section-title">

                    <h2>

                        💡 Sugerencias para ti

                    </h2>

                </div>


                <ul>

                    <li>

                        <img src="~/VISTA_ESTUDIANTE/practicar.png"
                             asp-append-version="true" />

                        <div>

                            <strong>

                                Practica sumas y restas

                            </strong>

                            <span>

                                Refuerza habilidades matemáticas

                            </span>

                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                    </li>


                    <li>

                        <img src="~/VISTA_ESTUDIANTE/lee.png"
                             asp-append-version="true" />

                        <div>

                            <strong>

                                Lee El Principito

                            </strong>

                            <span>

                                Mejora lectura e imaginación

                            </span>

                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                    </li>


                    <li>

                        <img src="~/VISTA_ESTUDIANTE/explora.png"
                             asp-append-version="true" />

                        <div>

                            <strong>

                                Explora el Sistema Solar

                            </strong>

                            <span>

                                Aprende sobre planetas

                            </span>

                        </div>

                        <i class="fa-solid fa-angle-right"></i>

                    </li>

                </ul>

            </div>
            <!--=====================================
                    COLUMNA DERECHA
            ======================================-->

            <div class="right-column">


                <!--==============================
                        RETO DEL DIA
                ==============================-->

                <div class="challenge">

                    <img src="~/VISTA_ESTUDIANTE/iconoEstudiante.png"
                         class="challenge-img"
                         asp-append-version="true" />


                    <div class="challenge-content">

                        <h2>

                            🚀 Reto del día

                        </h2>

                        <p>

                            Resuelve 10 preguntas de Matemáticas
                            y gana estrellas.

                        </p>

                        <p>

                            <strong>

                                Recompensa:

                            </strong>

                            ⭐ 50 puntos

                        </p>

                        <a href="#"
                           class="btn-reto">

                            ¡Aceptar reto!

                        </a>

                    </div>

                </div>


                <!--==============================
                        PROXIMAS TAREAS
                ==============================-->

                <div class="tasks card">

                    <div class="section-title">

                        <h2>

                            <i class="fa-solid fa-calendar-days"></i>

                            Próximas tareas

                        </h2>

                        <a href="#">

                            Ver todas

                        </a>

                    </div>


                    <ul>

                        <li>

                            <img src="~/VISTA_ESTUDIANTE/mapa.png"
                                 asp-append-version="true" />

                            <div>

                                <strong>

                                    Mapa conceptual Ecosistemas

                                </strong>

                                <span>

                                    Ciencias Naturales

                                </span>

                            </div>

                            <span class="badge green">

                                Mañana

                            </span>

                        </li>



                        <li>

                            <img src="~/VISTA_ESTUDIANTE/ejercicio.png"
                                 asp-append-version="true" />

                            <div>

                                <strong>

                                    Ejercicios de fracciones

                                </strong>

                                <span>

                                    Matemáticas

                                </span>

                            </div>

                            <span class="badge blue">

                                2 días

                            </span>

                        </li>



                        <li>

                            <img src="~/VISTA_ESTUDIANTE/resumen.png"
                                 asp-append-version="true" />

                            <div>

                                <strong>

                                    Revolución Francesa

                                </strong>

                                <span>

                                    Sociales

                                </span>

                            </div>

                            <span class="badge red">

                                3 días

                            </span>

                        </li>



                        <li>

                            <img src="~/VISTA_ESTUDIANTE/energia.png"
                                 asp-append-version="true" />

                            <div>

                                <strong>

                                    Energías Renovables

                                </strong>

                                <span>

                                    Tecnología

                                </span>

                            </div>

                            <span class="badge orange">

                                5 días

                            </span>

                        </li>

                    </ul>

                </div>

            </div>

        </section>

    </div>

</div>